<%= content_for :body do %>
  Dear <%= @user.name %>,
  <br/><br/>

  You have been recently added as a user for the GoDreams DonorApp.
  <br/><br/>

  Following are your credentials:
  <br/><br/>

  <pre>
    Name: <%= @user.name%><br/>
    Email: <%= @user.email%><br/>
    Phone: <%= @user.phone%><br/>
    Password: <%= @password%>
  </pre>
  <br/><br/>

  Please feel free to reply to this email or call <a href="tel:+919895068744">+91-9895068744</a> for any clarification.
  <br/><br/>
<% end %>
