<li class="list-group-item">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-0">&#8377;<%= donation.amount %> from <%= donation.name %></h5>
    <small title="<%= donation.created_at.iso8601 %>"><%= time_ago_in_words(donation.created_at) %> ago</small>
  </div>

  <div class="mt-2">
    <% if policy(donation).approve? %>
      <%= link_to 'Approve', approve_donation_path(donation), method: :post, class: 'btn btn-success btn-sm', data: { confirm: 'Are you sure you want to approve this donation?' } %>
    <% else %>
      <button class="btn btn-success btn-sm" disabled><%= donation.status_string %></button>
    <% end %>

    <% if policy(donation).show? %>
      <%= link_to 'View Details', donation_path(donation), class: 'btn btn-secondary btn-sm' %>
    <% end %>
  </div>
</li>
