<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <%= link_to 'Guardians of Dreams', root_path, class: 'navbar-brand' %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if policy(:donation).index? %>
          <li class="nav-item active">
            <%= link_to donations_path, class: 'nav-link' do %>
              Donations <span class="sr-only">(current)</span>
            <% end %>
          </li>
        <% end %>

        <% if policy(:volunteer).index? %>
          <li class="nav-item">
            <%= link_to 'Volunteers', volunteers_path, class: 'nav-link' %>
          </li>
        <% end %>

        <% if policy(:coach).index? %>
          <li class="nav-item">
            <%= link_to 'Coaches', coaches_path, class: 'nav-link' %>
          </li>
        <% end %>

        <% if policy(:fellow).index? %>
          <li class="nav-item">
            <%= link_to 'Fellows', fellows_path, class: 'nav-link' %>
          </li>
        <% end %>

        <% if policy(:national_finance_head).index? %>
          <li class="nav-item">
            <%= link_to 'NFHs', national_finance_heads_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>

      <% if current_user.present? %>
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
              <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
            <% end %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
